* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
}

.thoughts-container {
    width: 90%;
    border: 1px solid black;
    box-shadow: 5px 5px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-wrap: break-word;
}

.likes-and-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: grey;
    font: .8em helvetica;
}

.nav-buttons-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav-buttons {
    margin: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
}

@media (min-width: 680px) {
    .thoughts-container {
        width: 50%;
    }
}