h1{
  font-size: 14px;
  margin: 12px 0 0 12px;
}

h2{
  margin-left:12px;
  font-weight: 100;
  font-size: 14px;
}

p{
  color: #c0c0c0;
  font-size: 12px;
  display: inline;
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

textarea{
  width: 270px;
  margin: 12px;
  resize: none;
  padding: 12px;
}

textarea:focus{
  outline: none ;

}

.message{
  width:320px;
  background: #f2f0f0;
  border: 1px solid black;
  box-shadow: 7px 7px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.messageLive{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 0 2px 0;
}


button{
  background: #ffadad;
  border-radius: 20px;
  padding: 12px;
  box-sizing: none;
  border: none;
  align-self: flex-start;
  margin: 12px;
}

