.app-container {
  font-family: 'Roboto';
  font-size: 18px;
  
}

@media (min-width: 450px){
  body {
    display:flex;
    justify-content: center;
  }

  .app-container {
    max-width: 500px;
  }
}