/* –– Variables –– */

$color-pink: #ffadad;
$color-lightGray: #eaeaea;
$color-darkGray: #a0a0a0;


/* –– General styles –– */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono';
  font-size: 14px;
}

h1, h2 {
  font-weight: 400;
}

h2 {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 90%;
  max-width: 768px;
  margin: auto;
  padding-right: .3rem;
  margin-bottom: 3rem;
}

.thoughts-container {
  display: flex;
  flex-direction: column;
}

.thought-card,
.post-thought,
.sorting-container {
  position: relative;
  flex: 0 1 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 2.5rem;
  padding: .5rem 1rem 1rem;
  border: 1px solid #000;
  background-color: #fff;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: -.5rem;
    left: .5rem;
  
    width: 100%;
    height: 95%;
    background-color: #000;
  }
}


/* –– Post thought card –– */

.post-thought {
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: $color-lightGray;
}

.post-thought > * {
  flex: 0 1 auto;
}

label {
  font-weight: 500;
}

textarea,
input[type=text] {
  padding: .6rem .8rem;
  font-family: inherit;
  border: 1px solid $color-darkGray;
}

textarea {
  width: 100%;
  height: 60px;
  margin-top: 1rem;
  resize: none;
}

input[type=text] {
  width: 50%;
}

.error {
  color: $color-darkGray;
}

.char-count {
  text-align: right;
  font-size: .75rem;
  color: $color-darkGray;
}

.post-btn {
  display: block;
  margin-top: 1.5rem;
  padding: .6rem 1rem .8rem;
  border-radius: 30px;
  background-color: $color-pink;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  border: 0;
}

button:disabled {
  color: inherit;
  opacity: .5;
  cursor: default;
}


/* –– Sorting –– */

.sorting-container {
  padding-bottom: .5rem;

  p {
    text-transform: uppercase;
  }

  .radio-btn-container {
    display: flex;
  }

  .radio-btn {
    display: flex;
    align-items: center;

    &+.radio-btn {
      margin-left: 1.5rem;
    }

    label {
      margin-left: .4rem;
    }
  }
}

/* –– Thought card –– */

.thought-card {
  align-items: baseline;
  overflow-wrap: break-word;

  h2 {
    flex-basis: 100%;
    width: 100%;
  }
  .name {
    flex-basis: 100%;
    margin-left: .2rem;
    color: $color-darkGray;
  }
  .likes {
    flex: 0 1 auto;
    color: $color-darkGray;
  }
  .timestamp {
    flex: 0 1 auto;
    color: $color-darkGray;
  }
}

.like-btn {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
  padding-top: .5rem;
  font-size: 1.6rem;
  background-color: $color-lightGray;
  border: 0;
  border-radius: 50%;
  transform: scale(.8); // Fix to make the emoji centered in Chrome (increase font-size & reduce total size)
}

.has-likes {
  background-color: $color-pink;
}


/* –– Loader –– */

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .loader {
    display: flex;
    align-items: center;

    span {
      font-size: 2rem;
      margin: 0 0.5rem;
  
      @keyframes pulse {
        0%,
        50%,
        100% {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
    
        25% {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
  
      &:nth-child(1) {
        animation: pulse 1.2s ease-in-out infinite;
      }
      &:nth-child(2) {
        font-size: 2.5rem;
        animation: pulse 1.2s ease-in-out 0.2s infinite;
      }
      &:nth-child(3) {
        animation: pulse 1.2s ease-in-out 0.4s infinite;
      }
    }
  }
  
  p {
    font-size: .8rem;
  }
}