.bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thoughts-time {
  font-size: 11px;
  max-width: 100px;
  margin: 0;
}

.thought-message {
  font-size: 15px;
  font-weight: 500;
  font-family: courier;
  word-wrap: break-word;
}