.happy-message {
  background:linear-gradient(to bottom, #fafafa 5%, #d3c8c8 100%);  border: 2px solid black;
  box-shadow: 4px 4px rgb(90, 88, 88);
  width: 300px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.happy-message textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0;
}


.happy-message h3 {
  margin: auto;
}


.happy-message button {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
  width: fit-content;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.happy-message button:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.happy-message button:active {
	position:relative;
	top:1px;
}

.comment {
  display: flex;
  flex-direction: space-between;
}
P {
  font-size: 12px;
  color: grey; 
}
