textarea {
    resize: none;
    width: 100%;
    margin: 10px 0 10px 0;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    background: #ffb3b3;
    padding: 10px;
    border-style: none;
    border-radius: 40px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
}
svg {
    fill: red;
    padding: 10px;
}

.formWrapper {
    margin: 20px 0;
    padding: 15px;
    width: 30%;
    height: 100%;
    background: #efefef;
    border: 1px solid #000;
    box-shadow: 10px 10px #000;
}