.happy-container {
    display: flex;
    justify-content: center;
    
}

.happy-thought {
    background-color: rosybrown;
    width: 500px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    margin: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.thought-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border-radius: 25px;
    height: 30px;
    width: 30px;
    border: none;
    background-color:#ECC8CF;
    padding: 0;
}

.heart {
    font-size: medium;
    color: rgb(151, 112, 112);
}