textarea {
    resize: none;
    width: 100%;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.wraperBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.btn {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    background: #ffb3b3;
    /* padding: 10px; */
    border-style: none;
    border-radius: 40px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
}
svg {
    fill: red;
    padding: 10px;
    border-radius: 40px;
    background-color: #ffb3b3;
    width: auto;
    height: auto;
}

.formWrapper {
    padding: 15px;
    width: 100%;
    height: 100%;
    background: #efefef;
    border: 1px solid #000;
    box-shadow: 5px 5px #000;
    align-items: center;
}