* {
    box-sizing: 0;
}

.mainContainer {
    width: 600px;
    margin: 0 auto;
}

article {
    justify-content: center;
    justify-items: center;
    padding: 20px;
    width: 600px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .5);
    border: 1px solid pink;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

button.theHeart {
    font-size: 1.6rem;
    border: 1 px solid black;
    border-radius: 50%;
    background-color: silver;
}

span {
    position: relative;
    top: 2px;
    margin: 0;
    padding: 0px;
}

.theDate {
    text-align: right;
}

.noLikes {
    position: relative;
    left: 4px;
}