.happy-thoughts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 120px;
  margin: 20px;
  padding: 20px;
  background: rgb(245, 241, 241);
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 0px 0px black;
}

.happy-thoughts h2 {
  font-size: 15px;
  font-weight: 500;
  font-family: courier;
  word-wrap: break-word;
}

.thought-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 669px) {
  .happy-thoughts {
    width: 510px;
  }
}