/* To make the message line wrap you can use word-break: break-all; on that element */

.happy-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  /* border: 1px solid #000; */
}

.happy-post {
  width: 520px;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  border: 1px solid #000;
  box-shadow: 5px 5px #000000;
  margin: 15px 0;
}

.happy-message {
  word-break: break-all;
  margin: 20px;
  font-weight: 500;
}

.happy-post-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.happy-likes-wrapper {
  display: flex;
  align-items: center;
}

.some-likes,
.many-likes,
.no-likes {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  position: relative;
}

.some-likes {
  background: #f8cccc;
}

.many-likes {
  background: #f87979;
}

.no-likes {
  background: #f3f1f1;
}

.like-heart {
  position: absolute;
  top: 9px;
  left: 12px;
}

/* .happy-message-time {
  color: #7c7b7b;
} */