.happy-form {
    width: 300px;
    margin: 16px;
    padding: 20px;
    background-color: #f5f5f1;
    border: 1px solid black;
    box-shadow: 4px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.happy-form textarea {
    width: 100%;
    resize: none; 
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

.happy-form h3 {
    margin: 0;
}

.happy-form button {
    height: 50px;
    width: 60%;
    background-color: #ffadad;
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    border: 1px solid #f5f5f1;
}

.happy-form button:hover {
    cursor: pointer;
    background: white;
    border: 1px solid #ffadad;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 668px) {
    .happy-form {
        width: 500px;
    }
}

