.heart-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.heart-section p {
  color: #a6a6a6;
  font-size: 12 px;
}

.heart-section svg {
  fill:#ff4031;
}

.nothearted {
  border-radius: 50%;
  background-color:#eaeaea;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.hearted {
  border-style: none;
  border-radius: 50%;
  background-color: #ffadad;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}