body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  padding: 0 15px;
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 5px 5px;
  overflow-wrap: break-word;
}

.card p {
  margin: 0;
}

.form {
  background-color: #e4e4e4;
}

textarea {
  margin: 15px 0 10px;
  width: 100%;
  box-sizing: border-box;
}

textarea.red-text {
  color: #e22a01;
}

.submit-button {
  border: none;
  border-radius: 20px;
  background-color: #ffadad;
  padding: 10px;
  cursor: pointer;
}

.form p {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.thought-text {
  margin: 0;
  padding: 10px 0;
  min-height: 40px;
}

.likes,
.button-card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.likes {
  justify-content: space-between;
}

.like-button {
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

/*---- MEDIA QUERIES ----*/

@media (min-width: 768px) {
  .main-container {
    width: 450px;
  }
}

@media (min-width: 1024px) {
  .main-container {
    width: 500px;
  }
}