body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inconsolata', monospace;
}

h3 {
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  height: 100px;
  background: #e5dfdf;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}