body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(44deg, rgb(252, 219, 225), rgb(248, 173, 185), rgb(245, 134, 153));
  background-size: 600% 600%;

  -webkit-animation: GradientBackground 15s ease infinite;
  -moz-animation: GradientBackground 15s ease infinite;
  animation: GradientBackground 15s ease infinite;
}

@-webkit-keyframes GradientBackground {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}
@-moz-keyframes GradientBackground {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}
@keyframes GradientBackground {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.feed-wrapper{
  font-family:monospace;
  margin:2em;
  display: flex;
  justify-content: center;
 
}

.navbar{
  display: flex;
  flex-direction: row;
  background-color: rgb(223, 219, 219);
  overflow: hidden;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
  border: solid 1px black;
  box-shadow: 5px 5px #1d1d1d;
  font-size: 16px;
}

.navbar-logo{
  align-self: center;
  text-align: center;
  padding-left:5px; 
}

.navbar-links{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

ul, li, .hamburger-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul{
  padding:0;
}

li{
  padding: 5px;
}

.posts-liked{
  padding: 10px;
  
}

.my-likes{
  background-color: rgb(248, 194, 203);
  padding:5px;
}

.hamburger-div{
  display: flex;
  justify-content: flex-end;
 margin-right:0;
}

input[type=checkbox]{
  opacity: 0;
}

.send-thought-form{
  display: flex;
  flex-direction: column;   
  padding:1em;
  background:rgb(223, 219, 219);
  font-size:1em;
  min-height:150px;
  border: solid 1px black;
  box-shadow: 5px 5px #1d1d1d;
}

textarea{
  min-height:80px;
}

.send-thought-form h1{
  font-size:1.2em;
}

.characterCounter{
  font-size: 0.8em;
  display:flex;
  justify-content: flex-end;
}

.send-button{
  font-family:monospace;
  background-color:rgb(248, 194, 203);
  border:none;
  padding:10px;
  max-width:250px;
  border-radius: 20px;
  align-self:center;
  margin-top:10px;
}

.send-button:hover{
  background-color: rgb(248, 173, 185);
}

.like-button{
  background: rgb(223, 219, 219);;
  border:none;
  height:40px;
  width:40px;
  border-radius: 50%;
}

.like-button:hover{
  background-color: rgb(248, 173, 185);
  transform: scale(1.2);
}

.on {
  background-color: rgb(248, 173, 185);
}

.thought-article-container{
  margin-top:3em;
  margin-bottom:3em;
  width:50vw;
}

.thought-article{
  display: flex;
  flex-direction: column;
  padding:1em;
  background-color: white;
  border: solid 1px black;
  box-shadow: 5px 5px #1d1d1d;
}

.thought-message{
  max-width:90%;
  overflow-wrap: break-word;
  font-family:monospace;
  font-size: 1.2em;
  
}

.like-counter-date-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-counter-container{
  display: flex;
  flex-direction: row;
  gap:10px;
}

.usernameInput{
  margin-bottom: 10px;
}

input[type="text"] {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    max-width: 100px;
}
.page-buttons-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-button{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

 @media (max-width: 600px)  {
 
  .form-container, .thought-article-container{
    font-family:monospace;
    width:80vw;
}
} 


