*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 18px;
  font-family: monospace;
  background: linear-gradient(to left, #ccffcc 0%, #ff6666 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* --- MOBILE STYLING ----*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 2em;
  width: 325px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-container {
  width: 327px;
  border: 1px solid black;
  padding: 0.8em 0.7em;
  box-shadow: 5px 5px;
  background-color: #e0dddd;
}

.form-content{
  display: grid;
  row-gap: 0.5em;
}

.input-text {
  padding: 0.5em;
  font-size: 16px;
  color: black;
  resize: none;
}

.submit-btn {
  width: 15em;
  border-radius: 50px;
  border: none;
  padding: 9px;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
  font-size: 16px;
  background-color: pink;
}

.post-container {
  background-color: rgb(245, 236, 236);
  box-shadow: 5px 5px;
  width: 327px;
}

.post-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  padding: 0.6em 0.7em;
}

.info-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  font-size: 16px;
  color: #525050
}

.btn-heart {
  border-radius: 50%;
  padding: 9px;
  margin-right: 0.5em;
  border: none;
  font-size: 16px;
  background-color: #e0dddd;
}

.clicked {
  background-color: pink;
}

.time-stamp {
 color: #817e7e;
}

/*---- TABLET MODE-----*/

@media (min-width: 768px){
  
  .container {
    width: 600px;
  }

  .form-container {
    width: 500px;
    padding: 1em;
  }

  .post-container{
    width: 500px;
  }

  .input-text {
    width: 465px;
  }
}

/*---- DESKTOP MODE-----*/

@media (min-width: 1024px){

  .container {
    width: 600px;
  }

  .form-container {
    width: 550px;
    padding: 1em;
  }

  .post-container{
    width: 550px;
  }

  .input-text {
    width: 515px;
  }

}

