* {
  box-sizing: border-box; 
}

body {
  font-family:'Courier New', Courier, monospace; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(184, 224, 230);
	height: 100vh;
	margin: 0;
	padding: 0;
	
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
display: flex; 
flex-direction: column;
gap: 30px; 
margin: 30px; 
}

.loading {
  text-align: center;
}

.title {
  align-self: center; 
  font-size: 40px; 
  font-weight: 700; 
  padding: 30px; 
}

.submit-form {
  display: flex; 
  flex-direction: column; 
  background-color: rgb(245, 212, 212); 
  border: 1px solid black; 
  width: 40%; 
  box-shadow: 10px 10px black;
  padding: 10px 20px; 
  gap: 5px; 
  align-self: center;
}

.question {
  font-size: 16px; 
}
.text-area{
  font-family:'Courier New', Courier, monospace; 
  font-size: 16px; 
  font-weight: 600; 
  height: 100px;  
  border: 1px solid lightgrey;
}

.thought-list {
  display: flex; 
  flex-direction: column; 
  gap: 30px; 
  align-items: center; 
}

.thought-boxes {
  display: flex; 
  flex-direction: column; 
  border: 1px solid black; 
  width: 40%; 
  padding: 10px; 
  justify-content: center;
  box-shadow: 10px 10px black;
  align-content: space-between; 
  background-color: white;
  overflow-wrap: break-word;
}

.thought-text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600; 
  font-size: 20px; 
}

.submit-button {
  font-family:'Lucida Sans', sans-serif; 
  display: flex; 
  flex-direction: row;
  background-color: rgb(251, 159, 175); 
  border-radius: 30px; 
  width: fit-content; 
  height: 40px; 
  border: none; 
  align-items: center; 
  gap: 10px; 
  padding: 10px 20px; 
  font-size:16px; 
  margin: 10px 0px; 
}

.thought-specs {
  display: flex; 
  align-items: space-between; 
  justify-content: space-between;
}

.likes-section {
  display:flex; 
  color: grey; 
  gap:10px; 
}

.minutes {
display: flex;   
color: grey; 

}

.minutes-text {
  display: flex; 
  align-self: flex-end;
}

.heart-passive, .heart-active {
  border: none; 
  color:red; 
  background-color: lightgrey;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  border: none; 
  font-size: 16px; 
}

.heart-active {
  background-color: lightpink; 
}

@media (min-width: 480px) and (max-width: 1024px) {
  
  .submit-form,
  .thought-boxes,
  .footer{
    width: 70%; 
  }

  .title {
    width: 70%; 
    padding: 20px; 
  }
}

@media (max-width: 480px) {
  .submit-form,
  .thought-boxes,
  .footer {
    width: 90%; 
  }

  .title {
    width: 90%; 
    padding: 20px; 
  }
}

/* Footer */

footer {
  align-self:center;
  margin-top: 20px 0px;
  width: 40%;
  padding: 5px;
  background-color: rgb(245, 212, 212);
  border: 1px solid black;
  box-shadow: 10px 10px black;
  bottom: 0;
  
}

.contact-me {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-top: 10px;
}

.contact-logo{
  width: 30px;
  opacity: .75;
}

.contact-logo:hover{
  transform: scale(1.2);
  opacity: 1;
}

.about-me {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
}