body {
  margin: 0;
  font-family: Cutive Mono;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(pixel-art-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-wrapper {
  width: 475px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: rgb(255, 230, 230);
  border-radius: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.music-btn {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.music-btn:hover {
  cursor: pointer;
}

.music-emoji {
  font-size: 25px;
}

.bunny-icon {
  height: 50px;
  width: 50px;
  margin-left: 80%;
position: absolute;
margin-top: -45px;
transition: transform 0.2s ease-in-out;
}

.bunny-icon:hover {
  transform: scale(1.7);
}

@media (min-width: 1024px) {
  .bunny-icon {
    margin-left: 60%;
  position: absolute;
  }

  .app-wrapper {
    width: 500px;
  }

  .music-btn {
    top: 20px;
    right: 20px;
  }
}