body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div#root {
  width: 100%;
}
/* Whole page */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffeef1;
  width: 100%;
}
header {
  padding: 10px;
}
h1 {
 text-shadow: 1px 2px 10px #691249;
}
/* Input field with send button BOX */
form.message-container {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: 40px;
  top: 10px;
  width: 520px;
  height: 210px;
  position: relative;
  top: -30px;
  background-color: #f2f0f0;
  border: 2px solid #7c7c7c;
  box-shadow: 5px 5px;
  padding-bottom: 22px;
}
/* Whats on your mind*/
textarea {
  width: 400px;
  height: 100px;
}
/* User´s thoughts boxes */
div.Thoughts {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  background-color: #f2f0f0;
  border: 2px solid #7c7c7c;
  box-shadow: 5px 5px;
  width: 450px;
  height: 170px;
}
/* User´s box container */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Send button */
.submit-btn {
    cursor: pointer;
    margin: 10px;
    color: black;
    background: #ffffffed;
    border-radius: 16px;
    align-items: 20px;
    left: 137px;
    height: 30px;
    top: -9px;
}
/* how many likes x1 */
p.counter {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
/* user´s message */
p.thought-text {
  text-align: center;
}
/* time when message´s was sent */
p.date {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  position: relative;
  right: -36px;
}
.buttoncounter {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 13px;
}
/* the like <3 button */
.like-btn {
  cursor: pointer;
  left: -35px;
  border: none;
  background: pink;
  border-radius: 21px;
  animation: bounce 0.5s;
  left: 52px;
  position: absolute;
}
.no-like-btn {
  cursor: pointer;
  left: -35px;
  border: none;
  background: pink;
  border-radius: 21px;
  animation: bounce 0.5s;
  left: 52px;
  position: absolute;
}


/* Define the animation */
@keyframes bounce {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(2.2); }
}
.button:hover {
  background-color: #d4acb4;
}
/* likes, time container*/
div.likes {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: relative;
  bottom: -76px;
}

/* counting the text-characters */
.char-count {
  text-align: right;
  font-size: 9px;
  left: 2px;
  position: relative;
  left: -59px;
  font-style: oblique;
}


/* TABLET */
/*@media (min-width: 668px) and (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffeef1;
    width: auto;
}
 
}

/* DESKTOP */
/*@media (min-width: 1025px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffeef1;
    width: auto;
} 
} */

@media only screen and (max-width: 769px) {
.main-container {
    padding: 0;
    /* margin: -3px; */
    width: max-content;
    /* width: 21%; */
}
/*form.message-container {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: 40px;
  top: 10px;
  width: 520px;
  height: 210px;
  position: relative;
  top: -30px;
  background-color: #f2f0f0;
  border: 2px solid #7c7c7c;
  box-shadow: 5px 5px;
  padding-bottom: 22px;
}*/
h1 {
  font-size: 20px;
}
}