@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(250, 247, 233);
  color: rgb(55, 27, 16);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: 300;
  font-size: 16px;
  width: 300px;

}

p {
  font-family: "Roboto";
}

.mainBody {
  width: 300px;
}

.submitBox {
  display: flex;
  margin-top: 20px;
  border: 1px solid gold;
  background-color: cornsilk;
  padding: 5px 70px 10px 10px;
  box-shadow: 5px 5px gold;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

textarea {
  width: 260px;
  height: 80px;
  border: none;
  margin-bottom: -10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: rgb(55, 27, 16);
  outline-color: goldenrod;
}

button {
  color: rgb(55, 27, 16);
  border-radius: 50px;
  border: none;
  background-color: gold;
  font-family: "Roboto";
  padding: 8px 20px 8px 20px;
  box-shadow: 2px 2px goldenrod;
}
.counter {
  font-size: 12px;
  color: rgba(55, 27, 16, 0.7);
  text-align: right;
}

.counter-red {
  color: red;
  text-align: right;
  font-size: 12px;
}

.errorAlert {
  font-size: 12px;
  margin-bottom: 10px;
}

.listSection {
  margin-top: 20px;
}

.listBox {
  border: 1px solid gold;
  margin-bottom: 16px;
  box-shadow: 5px 5px gold;
  background-color: white;
  border-radius: 5px 15px;
}

.heartBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(55, 27, 16);
  border-radius: 50%;
  border: none;
  background-color: rgb(250, 247, 233);
  padding: 5px 7px;
  box-shadow: none;
  margin-right: 5px;
  margin-bottom: 10px;
}

.likedBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(55, 27, 16);
  border-radius: 50%;
  border: none;
  background-color: gold;
  padding: 5px 7px;
  box-shadow: none;
  margin-right: 5px;
  margin-bottom: 10px;
}

.thought {
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  overflow-wrap: anywhere;
}

.list {
  display: flex;
  margin-left: 10px;
}

.list p {
  font-size: 12px;
  color: rgba(55, 27, 16, 0.7);
}

.time {
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  position: relative;
  left: 130px;
  color: rgba(55, 27, 16, 0.7);
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}
@media (min-width: 668px) {
  .mainBody {
    width: 600px;
  }
  textarea {
    width: 500px;
    margin-left: 10px;
  }
  h1 {
    font-size: 28px;
    width: 500px;
    margin-left: 10px;
  }
  button {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .counter {
    font-size: 14px;
    line-height: 10px;
  }
  .counter-red {
    font-size: 14px;
    line-height: 10px;
  }
  .errorAlert {
    font-size: 14px;
    margin-left: 10px;
    margin-top: -10px;
  }
  .thought {
    font-size: 16px;
    margin-left: 20px;
  }
  .list p {
    font-size: 14px;
    text-align: right;
    left: 400px;
  }
}