body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.main {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}

.happy-thought-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000; 
  box-shadow: 10px 10px #000;
  margin: 10px;
  padding: 20px; 
  width: 300px;
  background-color: #f2f0f0;
  font-weight: bold;  
}

.new-message {
  margin: 10px;
  resize: none;
  width: 100%;
}

.new-message {
  margin: 10px 0;
  resize: none;
}

.send-thought-button {
  display: flex;
  align-self: flex-start;
  padding: 5px;
  border-radius: 20px;
  border: none;
  background-color: #ffadad ;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bold;
}

.send-thought-button:hover {
  transform: scale(1.2);
}

.card-container {
  display: grid;  
  width: 300px;  
  border: 1px solid #000; 
  box-shadow: 10px 10px #000;
  margin: 30px 0;
  padding: 20px;
  overflow-wrap: break-word;
}

.container-bottom-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto; 
  color: rgb(166, 166, 166);   
}

.thought-text {
  grid-column-start: 1;
  grid-column-end: -1;
  max-width: 260px;
  overflow-wrap: break-word;
  color: #000;
  font-weight: bold;
}

.like-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;  
  padding: 20px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 2;  
}

.liked {
  background-color: #ffadad ;
}

.not-liked {
  background-color: #eaeaea;  
}

.thought-post-time {
  grid-column-start: -1;
  grid-column-end: -1; 
  margin-top: 25px;
}

.like-counter {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 25px;
}

/* LOADER ANIMATION */

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #000;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #000;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;

}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}