body {
  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-container {
display: flex;
flex-direction: column;
align-items: center;
}


.message {
border:solid black 1px;
width: 400px;
padding-top: 20px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px ;
background-color: #f1efef;
box-shadow: 8px 8px black;
margin-bottom: 30px;
}

.form {
display: flex;
flex-direction: row-reverse;
justify-content:space-between;
align-items: center;
margin-top:20px;
margin-bottom:0px;
width: 100%;
}

.like {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color: rgba(221, 217, 217, 0.667);
border-radius: 50%;;
border:none;
}

.total-likes {
color: black;
margin-left: 5px;
}

.likes {
  display: flex;
  flex-direction: row-reverse;
}

.message-time {
font-size: 11px;
color: grey;
margin-left: 10px;
}


.thought-container {
display: flex;
flex-direction: column;
align-items: center;
}

.thoughts {
border:solid black 1px;
width: 400px;
padding-top: 20px;
padding-bottom: 15px;
padding-left: 10px;
padding-right: 20px ;
background-color: #f1efef;
box-shadow: 8px 8px black;
margin-bottom: 30px;
display: flex;
flex-direction: column;

}

.form-text {
  width: 100%;
  height: 50px;
  font-size: 15px;
}

.form-button {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background-color: #faafae;
  padding: 5px 15px 5px 15px;
  font-size: 11px;
}

.thought-length {
  font-size: 11px;
  color: grey;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="submit"]:disabled {
  color: grey;
}

input[type="submit"]:enabled {
  color: red;
}

.rubrik {
padding-bottom: 20px;
font-size: 15px;
}