body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: 'Inconsolata', monospace;
}