body {
  margin: 0;
  font-family:'Cutive Mono', monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
.WrapperDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HappyThoughtsCard{
  
  border: solid 1px rgb(114, 114, 110);
  background-color: rgb(228, 224, 224);
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}
label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.HappyThoughtInput {
  
  border: solid 1px rgb(114, 114, 110);
  background-color: rgb(228, 224, 224);
  margin: 4px;
  flex-direction: column;
  
}
.SubmitButton {
  margin: 10px;
}