@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,173,173);
  background: radial-gradient(circle, rgba(255,173,173,1) 35%, rgba(255,255,255,1) 100%);
}

h1 {
font-size: 16px;
line-height: 0px;
font-weight: 200;
display: flex;
justify-content: center;
}

h4{
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

p {
  font-size:16px;
  font-family: 'Roboto Mono', monospace;
  margin: 10px 0px 5px 5px;
}

.thought-input-wrapper {
  border: 1px solid #000;
  box-shadow: 7px 7px #000;
  width: 40vw;
  height: auto;
  margin: 30px auto;
  margin-top: 8%;
  padding: 0px 25px 5px 25px;
  background-color: #F2F0F0;
  position:relative;
}

.thought-form-details{
 display:flex;
 justify-content: space-between;
}

.character-counter{
 padding-right: 5%;
 color: rgb(178, 174, 174);
}

.send-thought-button {
  border: none;
  border-radius: 25px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  background: #ffadad;
  padding: 10px 15px;
  margin: 2px 0 15px 0;
  outline-color: #ffadad;
}

.text-input-area {
  width: calc(40vw - 50px);
  height: 60px;
  font-family: 'Roboto Mono',monospace;
  padding: 10px;
  margin: 0px auto 5px;
  resize: none;
  outline-color:#ffadad;
}

.message-wrapper {
  border: 1px solid #000;
  box-shadow: 7px 7px #000;
  width: 40vw;
  height: auto;
  margin: 30px auto;
  padding: 0px 25px 5px 25px;
  position: relative;
  background-color: white;
}

.thought-message {
  overflow: auto;
  overflow-wrap: break-word;
}

.heart-counter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.no-likes-button{
  background-color: #e0dfdf;
}

.has-likes-button {
  display: block;
  background-color:#ffadad;
}

.has-likes-button,
.no-likes-button{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0px;
}

.heart-details{
  display: flex;
}

.heart-count {
  margin-left: 10px;
  margin-top:9px;
  color:rgb(127, 127, 127);
}

.timestamp {
  right: 5%;
  color:rgb(178, 174, 174)
}

@media (min-width: 768px) {
  .thought-input-wrapper {
    width: 40vw;
  }

  .thought-input-field {
    width: calc(70vw - 50px);
  }

  .send-thought-button{
    width:260px;
  }

  .thought-form-details{
    display: flex;
    flex-direction: column-reverse;
  }

  .character-counter {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin: -3px 15px 5px 0px;
  }

  .heart-counter-wrapper {
    top: 24vh;
    right: 11vw;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .thought-input-wrapper {
    width: 50vw;
  }

  .message-wrapper{
    width: 50vw;
  }

  .text-input-area {
    width: calc(50vw - 30px);
  }

  .send-thought-button {
    font-size: 8px;
     width: 150px;
     color: black;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  }

  .character-counter{
    font-size: 10px;
    display:flex;
    justify-content: flex-end;
    margin-top:0px;
  }

  .thought-form-details{
    display: flex;
    flex-direction: column-reverse;
  }

  .heart-counter-wrapper {
    top: 24vh;
    right: 11vw;
    display: flex;
    flex-direction: column;
  }

  .heart-count {
    font-size: 14px;
    margin-top: 12px;
  }
  .timestamp {
    font-size: 12px;
    display:flex;
    justify-content: flex-end;
  }
}