.like-button {
    padding: 8px 11px;
    font-size: 15px; 
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.like-button:hover {
    background-color: #ffadad !important;
}

.heart-counter {
    display: inline;
}
