.like-button {
    padding: 8px 11px;
    font-size: 15px; 
    border-radius: 50%;
    border: none;
    /* background-color: #f2f0f0; */
    cursor: pointer;
}

.like-button:hover {
    background-color: #ffadad;
}
