.flex-wrapper {
    width: 100%;
}


.like-button {
    padding: 8px 11px;
    font-size: 15px; 
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.like-button:hover {
    background-color: #ffadad !important;
}

.button-and-theme {
    display: flex;
    width: 100%;
    align-items: center;
    
}

