.like-button {
  display: flex;
  justify-content: center;
  background: rgb(241, 161, 161);
  border-radius: 50%;
  border: 1px solid rgb(241, 161, 161);
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: rgb(196, 64, 64);
  margin-right: 8px;
  padding: 2px 0px 2px 4px;
}

.like-button:hover {
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.like-text {
  font-size: 11px;
  color: gray;
}

.like-container {
  display: flex;
  flex-direction: row;
}