.like-heart {
  background: #ffaaaa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  font-size: 16px;
  border: 1px solid #ffaaaa;  
}

.like-heart:hover {     
  background: white;
  cursor: pointer;
  border: 1px solid black;
}