button {
  width: 42px;
  height: 42px;
  border: none;
  margin: 4px;
  border-radius: 50%;
}

.heartIcon {
  height: 18px;
}

.liked {
  background-color: #f2acad
}

.notLiked {
  background-color: #eaeaea;
}