.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(241, 161, 161);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 8px;
  vertical-align: middle;
}

.like-button:hover {
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.like-text {
  font-size: 11px;
  color: gray;
  padding-top: 10px;
}

.like-container {
  display: flex;
  flex-direction: row;
}

.heart {
  font-size: 24px;
  color: rgb(235, 53, 53);
  align-self: center;
}