.loader {
    width: 120px;
    height: 120px;
    border: 16px solid grey;
    border-top: 16px solid powderblue;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    align-self: center;
    justify-self: center;
}


@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}