.button {
    height: 50px;
    width: 30%;
    background-color: #ffadad;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    font-size: larger;
}

.button:hover {
    background-color: #cf8d8d;
}

textarea {
    width: 500px;
    max-width: 70%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
}

.heart-one {
    color: rgb(151, 112, 112);
}