form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 8px;
  width: 80%;
  background-color: #f2f0f0;
  border: 1px solid black;
  box-shadow: 6px 6px black;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  margin: 6px 0;
}

.text-input {
  height: 100px;
}

/* How to style font-family on button? */

.submit-button {
  width: 50%;
  height: 36px;
  background-color: #f2acad;
  border: none;
  border-radius: 50px;

}