.button {
    height: 50px;
    width: 40%;
    background-color: #ffadad;
    border: none;
    font-size: 2vw;
    border-radius: 25px;
    font-weight: 500;
}

.button:hover {
    background-color:#cf8d8d;
}

textarea {
    width: 80%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
}

