form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 8px;
  width: 80%;
  background-color: #f2f0f0;
  border: 1px solid black;
  box-shadow: 6px 6px black;
}

label {
  display: flex;
  flex-direction: column;
}

.text-input {
  padding: 12px;
  height: 100px;
  margin: 8px 0;
}

/* How to style font-family on button? */

.submit-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  color: black;
  background-color: #f2acad;
  border: none;
  border-radius: 50px;
}

@media (min-width: 668px) {
  .submit-button{
    width: 40%;
  }

  form {
    width: 60%;
  }
}


@media (min-width: 1024px) {
  form {
    width: 50%;
  }
}