.button {
    height: 50px;
    width: 30%;
    background-color: #ffadad;
    border: none;
    border-radius: 25px;
    font-size: 23px;
    margin: -15 30px;
}

.button:hover {
    background-color: #cf8d8d;
}

textarea {
    width: 500px;
    max-width: 100%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    font-size: 16px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-width: 80%;
}

form p {
  margin-left: auto;
  font-size: 15px;
  margin-top: -2px;
}

.heart-one {
    color: rgb(151, 112, 112);
}