

.happy-thought-box {
    border: 2px solid black;
    box-shadow: 4px 4px black;
    width: 300px;
    height: auto;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow-wrap: break-word;
    display: flex;
}

.small-gray-text {
    color: gray;
    font-size: 12px;
}

.heart-and-time-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.heart-button {
    background-color: pink;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin: 5px;

}