#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7dede;
}

.happy-form, .message {
  background-color: #f3f1f1;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  word-wrap: break-word;
  margin: 20px;
  font-family: 'Inconsolata', sans-serif;
}

.happy-form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0;
}

.happy-form h3 {
  margin: 0;
}

.happy-form button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 70%;
  background-color: #ffadad;
  border: none;
  font-size: 14px;
  border-radius: 25px;
  padding: 10px;
  font-weight: 500;
  transition: 0.2s all; 
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.happy-form button:hover {
  cursor: pointer;
}

.happy-form button:focus {
  outline:0 !important;
}

.happy-form button:active {
  transform: scale(0.98); 
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.24); 
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}

.form-footer-message {
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}

.happy-message {
  display: flex;
  flex-direction: column;
}

.message {
  background-color: white;
}

.happy-message button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color:#f3f1f1;
  margin-right: 10px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all; 
}

.happy-message button:hover {
  cursor: pointer;
}

.happy-message button:focus {
  outline:0 !important;
}

.happy-message button:active {
  transform: scale(0.98); 
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.24); 
}

.message-time {
  font-size: 12px;
  opacity: .5;
  margin-left: auto;
}

.heart {
  position: absolute;
  transform: translate(-47%, -45%);
}

button.liked {
  background-color: #ffadad;
}

button.not-liked {
  background-color: #f7dede;
}

.likes {
  font-size: 12px;
  opacity: .5px;
  justify-self: self-start;
}