.form {
    background-color: #f2f0f0;
    position: relative;
}

.post-button {
  border: none;
  background-color: transparent;
}

.post-button:disabled {
    opacity: .5;
    cursor: default;
    }

.smiley {
    color: yellow;
    position: absolute;
    left: -30px;
    animation: Bob .7s infinite ease-in-out;
    font-size: 25px;
 cursor: pointer;
}

@keyframes Bob {
    0% {top: 30%}
    50% {top: 35%}
    100% {top: 30%}
}

.chips-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
    flex-wrap: wrap;
}

.post-text {
width: 100%;
min-width: 100%;
max-width: 100%;
padding: 10px;
font-size: 15px;
word-break: break-all;
}

.post-title {
    font-size: 13px;
    margin-top: 0;
}

.character-count {
    font-size: 13px;
    margin: 5px 0 0 0;
}

.count-and-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signature-input {
    padding: 5px;
    font-size: 18x;
}

@media (min-width: 400px) {
    .smiley {
        font-size: 50px;
        left: -60px;
    }

    @keyframes Bob {
        0% {top: 22%}
        50% {top: 27%}
        100% {top: 22%}
    }
}