.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-card {
  border: 2px solid #000;
  box-shadow:  5px 10px #000;
  max-width: 430px;
  width: 90%;
  height: 100%;
  margin: 16px;
  justify-content: space-between;
  padding: 15px;
}

.message-footer {
  display: flex;
  align-items: center;
  color: #a6a6a6;
  font-size: 12 px;
}
  
