.new-message {
  margin: 20px 0;
  padding: 15px;
  max-width: 430px;
  width: 80%;
  height: 100%;
  background: #efefef;
  border: 1px solid #000;
  box-shadow: 5px 10px #000;
}

textarea {
  margin: 10px 0;
  border: 2px solid #d9d9d9;
  width: 90%;
  resize: none;
}
.message-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrong-length {
  color: #a6a6a6;
}

.good-length {
  color: green;
}

.happy-thougth-button {
  background-color: #ffadad;
  padding: 5px 10px;
  border-style: none;
  border-radius: 30px;
  font-family: inherit;
  color: black;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}

svg {
  margin:5px;
}

svg path {
  fill:#ff4031; 
 
}

.happy-thougth-button:hover{
  background-color: #f3769c;
}