  .post-contents {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background: rgb(245, 241, 241);
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 2px 2px 0px 0px black;
  }
  
  .happyheader-text {
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 5px 0;
    text-transform: uppercase;
  }
  
  .form-input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    border: 1px solid grey;
    padding: 5px;
    max-width: 300px;
  }
  
  .submit-button {
    width: 140px;
    background: rgb(241, 161, 161);
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    font-family: inherit;
    font-weight: 500;
    padding: 4px 0;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background: white;
    border: 1px solid black;
  }
  
  .text-invalid {
    font-size: 11px;
    color: red;
    padding: 0;
    margin: 0;
  }
  
  .text-valid {
    font-size: 11px;
    padding: 0;
    margin: 0;
  }
  
  @media (min-width: 669px) {
    .post-contents {
      width: 510px;
    }
    .form-input {
      width: 430px;
    }
  }