.new-message {
  margin: 20px 0;
  padding: 15px;
  width: 30%;
  height: 100%;
  background: #efefef;
  border: 1px solid #000;
  box-shadow: 5px 10px #000;
}

textarea {
  margin: 10px 0;
  border: 2px solid #d9d9d9;
  width: 90%;
  resize: none;
}

.message-footer{

}