.thoughts {
width: 80%;
background-color: rgb(255, 255, 255);
margin: 10px auto;
}

.each-thought {
  background-color: rgba(255, 255, 255, 0.521);
  margin: 20px auto;
  width: 100%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  letter-spacing: 1px;
  line-height: 20px;
  box-shadow: black 2px 2px 2px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border: solid rgb(179, 177, 177) 1px;
  align-items: center;
  height: 150px
}

.thought {
  margin:20px 20px auto 20px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width:90%;
  justify-content: space-between;
  overflow-wrap: break-word;
  
}

.time-and-likes {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  margin-bottom: 10px;
}

.time-and-likes span {
  color: gray;
}

button {
  border: none;
}

.heart-button {
  background: rgba(134, 105, 126, 0.479);
  padding: 8px;
  border-radius: 50%;
}

.heart-button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.liked {
  background-color: rgba(253, 174, 229, 0.896);
}

.notLiked {
  background-color: rgba(134, 105, 126, 0.279);
}

.react-tooltip-lite {
  background: #333;
  color: white;
  height: 30px;
  width: 40px;
  font-size: 10px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

.react-tooltip-lite-arrow {
  border-color: #333;
}


@media only screen and (min-width: 1000px) {
  .thoughts{
    width: 40%;
  }
}