
.thoughtBox {
    width: 400px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 7px 7px;
    margin: 30px;
}


.thoughtBox button {
    width: 35px;
    height: 35px;
    padding: 2px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(187, 184, 184, 0.447);
}

.creadtedAt-text {
    display: block;
    text-align: right;
    color: rgba(96, 93, 93, 0.625);
    font-weight: 400;
}

