.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: grey;
}

.likes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}