.thoughts-input-box-container {
    background-color: rgb(228, 228, 228);
    margin-bottom: 20px; 
    width: 100%;
    max-width: 230px;
    box-shadow: 10px 5px black;
    margin: auto;
    margin-top:20px;  
    padding:20px; 
    font-size:16px;
    border: 2px solid;
    font-family: futura;
}

.thoughts-input-box-textarea {
    width: 100%;
    height: 70px;
    border: 2px solid;
    border-color:rgb(183, 179, 179);
    color: black;
    font-family: futura;
    font-size: 13px;
    resize: none;  
    word-wrap: wrap;
    word-break: break-all

}

.thoughts-input-box-title {
    font-size: 13px;
    font-weight: 500;
    font-family: futura;
    padding-bottom: 15px;
    margin: 0px;
}

.thoughts-input-box-submit-button {
    background-color: rgb(251, 171, 171);
    border-radius: 50px;
    margin-top: 10px;
    border: none;
    color: black;
    padding: 12px 24px 12px 24px;
    font-size: 12px;
    font-weight: 500;
    font-family: futura;
}

.thoughts-input-box-textarea-text {
    color: black;
}

@media (min-width: 375px) {
.thoughts-input-box-container {
    max-width: 270px;
    }
}

@media (min-width: 667px) {
.thoughts-input-box-container {
    max-width: 400px;
    }
    
}