.form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.form-input{
    background: rgb(196, 235, 235);
    margin: 10px auto;
    width: 95%;
    height: 50px;
}

.red_form_border{
    border: 2px solid red;
}

.form_counter{
    font-size: 13px;
    color: gray;
    margin: 5px;
}

.red_form_counter{
    color:red;
}

.form_button{
    background: rgb(226, 169, 183);
    color: black;
    margin: 10px auto;
    height: 40px;
    border-radius: 27px;
    width: 60%;
    border: none;
}