.thoughts-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  max-width: 230px;
  height: 150px;
  margin-top:20px;  
  margin-bottom: 20px; 
  padding:20px; 
  font-size:13px;
  box-shadow: 10px 5px black;
  border: 2px solid;
  background-color: white;
  position: relative;
  font-family: futura;
  white-space: break-spaces;
  word-break: break-all
}

.like-count-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  width: 95%;
  margin-bottom: 10px;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  margin-bottom: 17px;
  font-family: futura;

}

.like-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgb(251, 171, 171);
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.like-button:hover {
  background-color: rgb(236, 132, 132);
}

.unliked-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: lightgrey;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.unliked-button:hover {
  background-color: rgb(167, 159, 159);
}

.counter-time-container {
  display: flex;
  align-items: center;
  bottom: 0;
  padding-right: 15px;
}

.counter {
  margin-right: 0%;
  width: 30px;
  font-size: 14px;
}

.time-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 30px;
  font-size: 14px;
}

@media (min-width: 375px) {
  .thoughts-list-container {
    max-width: 270px;
  }

  .time-div {
    margin-left: 120px;
  }
}
@media (min-width: 667px) {
  .thoughts-list-container {
    max-width: 400px;
  }

  .time-div {
    margin-left: 220px;
  }
}