.thoughts-container {
  max-width: 500px;
  margin: 20px auto;
  padding-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 6px 6px 0px #000;
  background-color: #ffe8e8;
}
h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
}
