@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.thoughts-container {
  max-width: 600px;
  margin: 20px auto;
  padding-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 6px 6px 0px #000;
  background-color: #ffe8e8;
}
h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  font-family: "Titillium Web", sans-serif;
}
.loader {
  border: 26px solid #ffc0cb;
  border-top: 26px solid #fe0000;
  border-radius: 50%;
  margin: 40px auto;
  width: 100px;
  height: 100px;
  animation: spin 1.9s linear infinite;
}
