.card {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15),
    0px 12px 24px rgba(255, 88, 108, 0.7),
    inset 0px -2px 4px rgba(255, 255, 255, 0.7),
    inset 0px -5px 16px rgba(255, 88, 108, 0.4);
  border-radius: 24px;
  padding: 24px 24px 20px 24px;
  margin-bottom: 24px;
  word-wrap: break-word;
}

.card-bottom {
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.card-bottom-likes {
  display: flex;
  align-items: center;
}

.card-bottom-time {
  display: flex;
  align-items: center;
}

button {
  border: 0;
  outline: 0;
  /* Prevents zoom when clicking rapidly on heart on mobile (not Safari though :( ) */
  touch-action: manipulation;
}

button svg {
  display: block;
  margin: auto;
}

.button-like {
  border-radius: 16px;
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: rgba(255, 88, 109, 0);
}

.button-like:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.button-like:active {
  background-color: rgba(255, 88, 109, 0.15);
}
