.comments-container {
  background: #f2f0f0;
  padding: 5px;
}

.comments-title {
  margin-top: 0;
  font-size: 12px;
  font-weight: normal;
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #6e6e6e;
  font-size: 11px;
  overflow-wrap: break-word;
}

.comment {
  margin: 0;
  padding-bottom: 5px;
}

.comment-stamp {
  align-self: flex-end;
  margin: 0;
  padding-bottom: 5px;
}

.comments-form {
  display: flex;
  flex-direction: column;
}

.comment-text {
  margin-bottom: 5px;
  padding: 4px;
  border-radius: 3px;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
}

.comment-button {
  display: inline-block;
  padding: 9px 50px;
  border: none;
	border-radius: 3px;
  background-color: #ffe6e6;
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.comment-button:hover {
	background-color:#ffadad;
}
.comment-button:active {
	position:relative;
	top:1px;
}