.button-container {
    margin: 20px auto;
    border: 2px solid black;
    width: 350px;
    box-shadow: 5px 5px;
    padding: 20px;
    background-color: white;

    display: flex;
    justify-content: space-around;
}

button {
    margin-top: 10px;
    width: 160px;
    background-color: #ffadad;
    border: none;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    box-shadow: 5px 5px;
}

/* MEDIA QUERIES */ 

@media(min-width:1024px) {
    .button-container {
        width: 500px;
    }

    button {
        width: 200px;
    }
}
