.get-thought__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.get-thoughts__heart-button {
  border-radius: 100%;
  height: fit-content;
}

.get-thoughts__heart-amount {
  color: grey;
  font-weight: 300;
  font-size: smaller;
}
