.happy-form {
  background-color: #f3f1f1;
  border: 2px solid black;
  box-shadow: 6px 6px black;
  width: 450px;
  height: 200px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.happy-form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0;
  overflow: hidden;
  white-space: normal;
  border: 2px solid rgb(184, 184, 184);
}

.happy-form h3 {
  margin: 0;
  font-size: 17px;
}

.happy-form button {
  height: 50px;
  width: 60%;
  background-color: #ffadad;
  border: none;
  font-size: 14px;
  border-radius: 25px;
  padding: 10px;
}

.happy-form button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.happy-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  color: rgb(184, 184, 184);
  font-weight: 700;
}

.submit-button {
  color: black;
  font-weight: 700;
}
