.happy-thought {
  border: 2px solid black;
  box-shadow: 4px 4px black;
  background-color: rgb(255, 210, 217);
  width: 300px;
  height: 130px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.happy-thought h3 {
  font-size: 16px;
  margin: 0;
}

.happy-thought button {
    display: inline-flex;
    justify-content: space-evenly;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 7px;
    border-color:  rgb(244, 134, 170);
  
    
}

.happy-thought button:hover {
  cursor: pointer;
}

button:focus {outline: 3px solid var(--cl-primary);
}   

.happy-thought button span {
  margin-left: 4px; 
} 