.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 260px;
    max-width: 450px;
    padding: 0 5%;
    margin: 20px 0;
    border: 1px solid #000;
    box-shadow: 6px 6px 0 #000;
    word-break: break-word;
}

.heart_buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;

}
.heartButton_Counter {
    display: flex;
    align-items: baseline;
}

.heartButton_Counter p {
    color: gray;
    font-size: small;
}

.heartButton {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.heartDate {
    color: gray;
    font-size: x-small;

}


/* Responsiveness SMALL SCREEN */
@media (min-width: 992px) {


    .inputContainer {
        font-size: 24px;
        max-width: 680px;
        padding: 30px 50px 30px 30px;
        margin: 30px 0;
        box-shadow: 10px 10px 0 #000;
    }
    
    .heart_buttonWrapper {
        padding-top: 3%;
        padding-bottom: 0;
    }
    
    .heartButton_Counter p {
        font-size: 20px;
    }
    
    .heartButton {
        width: 45px;
        height: 45px;
    }
    
    .heartDate {
        font-size: 16px;
    }
}