.happy-form {
  background-color: #F2F0F0;
  height: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.happy-form h3 {
  font-size: 16px;
}

.happy-form textarea {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  padding: 5px;
  outline: none;
  resize: none;
}


.happy-form .form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.happy-form .form-button {
  text-align: center;
  background-color: #ffadad;
  padding: 0 15px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  height: 35px;
  line-height: 35px;
}

.happy-form .form-button .text {
  padding: 0 10px;
}

.happy-form .form-button .emoji {
  vertical-align: middle;
}

.happy-form .form-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.happy-form .form-button:focus {
  outline: none !important;
}

.happy-form .form-button:active {
  border: 0.5px solid grey; 
}

.happy-form .form-button:disabled {
  cursor: not-allowed;
  color: inherit;
}

.happy-form .form-footer p {
  font-size: 12px;
}

.happy-form .warn {
  color: #f00;
  font-weight: bold;
}