.happy-thought {
  border: 2px solid black;
  box-shadow: 7px 7px black;
  width: 450px;
  height: 100%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  overflow-wrap: break-word;
  font-family: "Menlo";
  background-color: white;
}

.happy-thought h3 {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  margin-bottom: 10px;
}

.happy-thought button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  font-size: 16px;
}

.happy-thought button:hover {
  cursor: pointer;
}

.happy-thought button span {
  margin-left: 4px;
  line-height: 2;
}

body {
  display: flex;
  justify-content: center;
}
