.happy-form {
  background-color: #f3f1f1;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  width: 300px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.happy-form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0;
}

.happy-form h3 {
  margin: 0;
}
