.happyThoughtInput{    
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    padding: 15px;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    border: 1px solid #000;
    box-shadow: 6px 6px #000;
    align-items: center;
}

.happyThoughtButton{
    font-family: 'Roboto', sans-serif;
    color: #000; 
    background-color: #ffadad;
    font-weight: 400;
    font-size: 14px; 
    padding: 10px 15px; 
    border-radius: 20px;
 
}


textarea {
    resize: none;
    width: 100%;
    font-size: 18px;
    font-family: 'Oxygen Mono';
    font-size: 12px;
    padding: 10px;
    margin: 10px 0;

}