.thought {
    background: #fff;
}

.thought-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.heart {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 4px;
}

button.heart::before {
    content: "\02764";
}

button.heart:hover {
    cursor: pointer;
}

@media (max-width: 668px) {
    h1 {
        font-size: 22px;
    }
}