.heart__btn {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2acad;
    border-radius: 10px;
}

span {
    display: flex;
    align-items: center;
}

.heart__btn-icon {
    width: 20px;
}

.heart__like {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.heart__like:hover{
    background:#cfc6c6;
}
