.likes-container {
  display: flex;
}

.heart-count-btn {
  background-color: #d1d1d1;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.heart-count-btn:hover {
  background-color: #ebebeb;
}

.heart-count-btn:focus {
  background-color: #FFAEAC;
}

.heart-count-btn:focus {
  outline: none;
}

.counter {
  color: #b0b0b0;
  font-size: 0.8em;
  padding-left: 0.8em;
}