.hearts{
  color: #8F8D8D;
  font-size: 12px;
  font-weight:bold;
}

.hearts button{
  font-family: 'Inconsolata', monospace;
  background-color: #eaeaea;
  border: 0px;
  width: 37px;
  height:37px;
  border-radius:50%;
  font-size: 16.5px;
  margin-right: 5px;
}
.like-heart svg{
  fill: red;
  width: 18px;
  height: 18px;
}
