.p-input-counter,
.p-red,
.p-green {
  font-weight: 300;
  font-size: 14px;
}

.p-red {
  color: #c70039;
}

.p-green {
  color: #006e33;
}

/* STYLING FOR DESKTOP */
@media (min-width: 1024px) {
  .p-input-counter,
  .p-red,
  .p-green {
    font-size: 16px;
  }
}
