.like-emoji {
  font-size: 14px;
}

.liked {
  width: 42px;
  height: 42px;
  border: none;
  margin: 4px;
  border-radius: 50%;
  background-color: #f2acad;
  cursor: pointer;
}

.notLiked {
  width: 42px;
  height: 42px;
  border: none;
  margin: 4px;
  border-radius: 50%;
  background-color: #eaeaea;
  cursor: pointer;
}

@media (max-width: 380px) {
  .notLiked {
    width: 24px;
    height: 24px;
    padding: 2px;
  }

  .liked {
    width: 24px;
    height: 24px;
    padding: 2px;
  }

  .like-emoji {
    font-size: 10px;
  }
}
