.heart-image{
  display: block;
  font-size: 17px;
  margin-right: 5px;
}

.liked{
  -webkit-appearance: none;
  background: rgb(250, 168, 168);
  border-radius: 50%;
  border: none;
  height: 35px;
  width: 35px;
  margin: 4px 10px 10px 12px;
}

.not-liked{
  -webkit-appearance: none;
  background: rgb(230, 229, 229);
  border-radius: 50%;
  border: none;
  height: 35px;
  width: 35px;
  margin: 4px 10px 10px 12px;
}

.heart-like{
  -webkit-appearance: none;
  height: 20px;
  margin: 5px 1px 0px 0;
}

.times-liked{
  font-family: 'Inconsolata', monospace;
  color: rgb(126, 126, 126);
}

.time{
  font-family: 'Inconsolata', monospace;
  margin-right: 5px;
  color: rgb(126, 126, 126);
}
