.thoughts-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thought {
  margin: 20px 0;
  padding: 15px;
  width: 30%;
  height: 100%;
  border: 1px solid #000;
  box-shadow: 5px 10px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  font-weight: bold;
}

.message {
  padding: 5px;
  font-weight: bold;
  overflow: auto;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #a6a6a6;
}

.likes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.heart-button {
  border-style: none;
  background: #e6e6e6;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .thought {
    width: 40%;
  }
}

@media (max-width: 667px) {
  .thought {
    width: 80%;
  }
}