.message{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.3em;
  margin-bottom: 2vh;
}

.heart-time{
  display: flex;
  margin-top: 20px;
}

.heart{
  margin-right: 35%;
}