.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 80%;
  max-width: 400px;
  box-shadow: 5px 5px;
  padding: 20px;
  margin: 20px;
  background-color: #f2f0f0;
}

h4 {
  margin-block-start: 0;
   font-weight: normal;
}

p {
  display: flex;
  font-size: 14px;
  color: grey;
  margin: 0;
  justify-content: flex-end;
}

.textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #d0cfcf;
}

.btn {
  width: fit-content;
  border-radius: 40px;
  padding: 10px;
  background-color: #ffadad;
  border-width: 0;
  transition: 0.4s; 
}

.btn h4:before {
  content: "❤️";
}

.btn h4:after {
  content: "❤️";
}

.btn:hover:enabled {
  box-shadow: 3px 3px #65686a;
}
