.submit-form-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-form-card {
  border: 1px solid #000;
  box-shadow: 6px 8px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  padding: 15px;
  width: 50%;
  max-width: 400px;
  height: 100%;
  /* height: 100px; */
  /* background-color: rgb(228, 226, 242); */
  background-color: rgb(248, 219, 255);
}
.banana-container {
  text-align: center;
  padding-top: 10px;
}

.form-text {
  width: 95%;
  height: 30px;
  font-weight: 500;
  font-size: 12px;
  padding: 8px;
}

/* .form-button {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background: rgb(232, 224, 237);
  border-radius: 30%;
  padding: 10px 20px;
  margin: 10px;
} */

.submit-button {
  /* border: 1px solid rgb(175, 165, 182); */
  border: none;
  box-shadow: 1px 2px rgba(165, 153, 186, 0.598);
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  /* padding: 8px; */
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-weight: 700;
  font-size: 12px;
  background-color: rgb(246, 228, 254);
}
.submit-button:hover {
  background-color: rgb(242, 217, 252);
  box-shadow: 1px 2px rgba(165, 153, 186, 0.598);

  /* box-shadow: 1px 2px rgba(165, 153, 186, 0.598); */


}

h3 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 700;
}

.counter {
  margin: 0px;
  font-size: 10px;
  font-weight: 300;
  text-align: right;
  color: dimgray;
}