.message-card-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: space-between;
  margin: 40px 0;
  min-height: 130px;
  max-height: 300px;
  box-shadow: 7px 7px;
  word-wrap: break-word;
}

.bottom-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
}

.smiley-container {
  display: flex;
  align-items: center;
}

.card-message {
  margin: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.smiley-btn {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: green;
}

.love-liked {
  background: url(../assets/love-happy2.svg);
}

.super-liked {
  background: url(../assets/super-happy2.svg);
}

.liked {
  background: url(../assets/happy-happy2.svg);
}

.not-liked {
  background: url(../assets/no-happy2.svg);
}

.moment {
  font-size: 14px;
  color: #ccc;
}

/* .smiley {
  background: url(../assets/happy-happy2.svg);
} */
