
.message-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 500px;
  }

.message-box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #ffffff;
    border: solid 1px black;
    padding: 5%;
    box-shadow: black 10px 10px;
    margin: 3%;
    overflow: hidden;
    width: 90%;
  }

.message {
    margin-bottom: 50px;
}

  .like-btn {
    border: none;
    background-color: #f3f3f3;
    border-radius: 50%;
    font-size: 1em;
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  .like-grid {
    display: flex;
    flex-direction: row;
  }

  .likes-and-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .timestamp, .number-of-likes {
    color: #bebebe;
    font-size: 1em;
    vertical-align: middle;
  }