h1 {
  font-size: 17px;
  font-weight: lighter;
}

p {
  margin-left: 150px;
}

form.message-input {
  background-color: #f3f1f1;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  width: 350px;
  height: 100%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.message-input textarea {
  width: 100%;
  font-family: 'Courier', monospace;
  resize: none;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  margin: 10px 0;
}

.message-input-footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.message-input button {
  background-color: #ffadad;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}

@media (max-width: 380px) {

  form.message-input {
  width: 250px;
  }

  p {
    margin-left: 50px;
  }

}
