.message-card-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: space-between;
  margin: 20px 0;
  height: 150px;
  word-wrap: break-word;
}

.bottom-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}

.heart-btn {
  margin-right: 10px;
}

.card-message {
  margin: 20px;
}

.super-liked {
  background: red;
}

.liked {
  background: pink;
}

.not-liked {
  background: black;
}
