.new-thought {
  background-color:#f2f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

h2 {
  font-size:18px;
  font-weight: normal;
  margin: 0;
}

textarea.form-textarea {
  font-family: monospace;
  font-size: 18px;
  height: 50px;
  width: 100%;
  resize: none;
}

.button-count {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  width: 100%;
}

.form-button {
  background-color:#ffadad;
  border: none;
  border-radius: 25px;
  padding: 12px;
  font-size: 18px;
  width: 250px;
  transition: all 0.3s ease-in-out;
}

.form-button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.form-button:disabled{
  color: black;
  opacity: 0.5;
}