.thought-form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 79% 21%;
  width: 280px;
  height: 160px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #000;
  -webkit-box-shadow: 6px 6px #000;
  -moz-box-shadow: 6px 6px #000;
  box-shadow: 6px 6px #000;
  background: #f2f0f0;
}

.new-thought-container {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.thought-button {
  display: inline-block;
  padding: 6px 50px;
  border: none;
	border-radius: 3px;
  background-color: #ffe6e6;
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.thought-button:hover {
	background-color:#ffadad;
}
.thought-button:active {
	position:relative;
	top:1px;
}