.new-thought{
  border: solid 2px #7E7E7E;
  background-color: #ebebeb;
  width:379px;
  height: 130px;
  margin:30px;
  padding:15px;
  box-shadow: 7px 7px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
label{
  margin:0;
  font-size:13px;
}
textarea{
  width:369px;
  height:50px;
  border: 2px solid #cacaca;
  text-align: start;
  font-size: 13px;
  resize:none;
  margin-top:5px;
}
.send-button{
  display:flex;
  align-items: center;
  background-color: #F2ACAD;
  height:35px;
  border-radius:25px;
  font-size: 12px;
  font-weight: bold;
}
.heart svg{
  fill: red;
  width: 18px;
  height: 18px;
  margin: 2px;
}
.button-and-length{
  display:flex;
  justify-content: space-between;
}
.red{
  color: crimson;
}
.red, .black{
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 400px){
  .new-thought{
    width: 250px;
    height:auto;
  }
  textarea{
    width:240px;
    height:auto;
  }
  label{
    font-size:16px;
  }
  .send-button{
    width: auto;
    height:auto;
  }
  }