.newthought-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newthought {
  margin: 20px 0;
  padding: 15px;
  width: 30%;
  height: 100%;
  background: #efefef;
  border: 1px solid #000;
  box-shadow: 5px 10px #000;
}

textarea {
  margin: 10px 0;
  border: 2px solid #d9d9d9;
  width: 90%;
  resize: none; /* User not able to resize the textarea in the browser */
}

.form-button {
  background: #ffb3b3;
  padding: 10px;
  border-style: none;
  border-radius: 20px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

.form-button:disabled {
  opacity: 0.5;
  color: #000;
  cursor: default;
}

.submit-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submit-wrapper p {
  color: #a6a6a6;
}

@media (max-width: 1024px) {
  .newthought {
    width: 45%;
  }
}

@media (max-width: 667px) {
  .newthought {
    width: 80%;
  }
}