.newthought-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newthought {
  margin: 20px 0;
  padding: 15px;
  width: 350px;
  height: 150px;
  background: #efefef;
  border: 1px solid #000;
  box-shadow: 5px 10px #000;
}

textarea {
  margin: 10px 0;
  border: 2px solid #d9d9d9;
}

button {
  background: #ffb3b3;
  padding: 10px;
  border-style: none;
  border-radius: 20px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}