form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:lightgray;
  border: solid 1px black;
  width: 350px;
  height: auto;
  padding: 5px;
}

button {
  padding: 5px;
}

input {
width: 90%;
height: 18px;
border: solid 1px black;
margin: 5px;
}


