.new-thought-input__form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #efefef;
  border: 1px solid #000;
  /* align-items: center; */
  margin: 20px;
  box-shadow: 5px 5px #000;
  max-width: 450px;
}

textarea {
  resize: none;
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
}

::placeholder {
  font-size: 12px;
}

.new-thought-input__button {
  color: #000;
  background-color: #ffadad;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
  border-radius: 20px;
}

.new-thought-input__button:hover {
  cursor: pointer;
  border: 1px solid gray;
}
