.thought {
  border: 2px solid black;
  box-shadow: 4px 4px black;
  background-color: rgb(250, 242, 250);
  color: black;
  width: 400px;
  height: 150px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  transition: all .3s ease-in-out;
}

.thought:hover {
  box-shadow: 8px 8px black;
}

.thought h3 {
  font-size: 16px;
  margin: 0;
}

.thought button {
  display: inline-flex; 
  justify-content: space-evenly;
  background: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border-color:  white;
  transition: all .4s ease-in;
}

.thought button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* .thought button:focus {
  opacity: .4;
} */

button:focus {outline: 3px solid var(--cl-primary);
}   

span {
  margin-left: 4px;
  font-size: 24px;
}

/* .thought button span {
  display: flex; 
  align-items: center;
  justify-content: center; 
}  */

.postedInfo {
  /* bottom: 0; */
  display: flex;
  align-items: baseline;
}

.moment {
  text-align: right;
  font-size: 14px;
}

.howMany {
  font-size: 14px;
}

.footerPost {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 680px) { 
  .thought {
    width: 300px;
  }
}