.message-box{
  border: solid 2px #7E7E7E;
  width:379px;
  height: 110px;
  margin:30px;
  padding:15px;
  box-shadow: 7px 7px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.hearts-time{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.time{
  color: #CACACA;
  font-size: 12px;
  font-weight: bold;
}