.message-form {
  display: block;
  box-sizing: border-box;
  background-color: rgb(242, 240, 240);
  border: 1px solid black;
  box-shadow: 7px 7px black;
  width: 95%;
  padding: 16px;
  margin: 30px auto 0 auto;
}

.message-question {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.message-input {
  box-sizing: border-box;
  margin: 10px 0;
  width: 100%;
  min-height: 35px;
  padding: 10px;
  resize: vertical;
}

.message-send-button {
  color: inherit;
  font-size: 14px;
  font-weight: normal;
  background-color: rgb(255, 173, 173, 1);
  border: none;
  border-radius: 50px;
  padding: 7px 17px;
  margin: 10px 0;
  cursor: pointer;
}

.message-send-button:disabled {
  background-color: rgb(255, 173, 173, 0.5);
  opacity: 0.8;
}