* {
  box-sizing: border-box;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  font-family: menlo;
  -webkit-font-smoothing: antialiased;
}

.App {
  margin: 50px auto;
  width: 90%;
  max-width: 500px;

  &__grid {
    display: grid;
    row-gap: 50px;
  }

  &__item {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 10px 10px #000;
    word-wrap: break-word;

    &--gray {
      background: #f2f0f0;
    }
  }
}

.Form {
  display: grid;
  grid-template-rows: min-content;
  // grid-template-columns: 2fr 1fr;
  grid-row-gap: 5px;
  align-items: center;
  padding: 20px;
  border: 1px solid #000;
  box-shadow: 10px 10px #000;
  background: #f2f0f0;

  // &__label {
  //   grid-column: 1/3;
  // }

  &__header {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
  }

  &__textarea {
    width: 100%;
    padding: 5px;

    &::-webkit-input-placeholder {
      color: #f4acac;
    }

    &:-ms-input-placeholder {
      color: #f4acac;
    }

    &::placeholder {
      color: #f4acac;
    }
  }

  &__text {
    font-size: 12px;
    text-align: right;
    padding: 0;

    &--green {
      color: green;
    }

    &--red {
      color: red;
    }
  }
}

.Article {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: min-content 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  align-items: center;
  padding: 20px;
  border: 1px solid #000;
  box-shadow: 10px 10px #000;
  word-wrap: break-word;

  &__text {
    grid-column: 1/4;
  }

  &__text--likes {
    font-size: 13px;
    opacity: 0.6;
    margin: 5px 0;
  }

  &__text--time {
    font-size: 13px;
    opacity: 0.4;
    text-align: right;
  }

  &__span {
    animation: pulse 3s ease-in-out infinite;
  }
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post {
  border: 1px solid #000;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in;

  &:hover {
    transform: scale(1.2);
  }

  &__icon {
    height: 20px;

    &--pulse {
      animation: pulse 3s ease-in-out infinite;
    }
  }

  &__submit {
    background: #f4acac;
    border-radius: 50px;
    padding: 0 10px;
  }

  &__round {
    border-radius: 50%;
    width: 40px;
    padding: 10px;
    grid-column: 1/2;

    &--gray {
      background: #f2f0f0;
    }

    &--pink {
      background: #ffd5cd;
    }

    &--darkpink {
      background: #f99292;
    }
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  animation: spin 8s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
