* {
  box-sizing: border-box;

  padding: 0;
}

body {
  font-family: menlo;
}

.App {
  margin: 50px auto;
  width: 90%;
  max-width: 500px;

  &__grid {
    display: grid;
    row-gap: 50px;
  }

  &__item {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content 1fr 1fr;
    grid-row-gap: 5pxpx;
    grid-column-gap: 10px;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 10px 10px #000;

    &--gray {
      background: #f2f0f0;
    }
  }
}

.Article {
  &__text {
    grid-column: 1/4;
  }
}

.Form {
  &__label {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
  }
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post {
  border: 1px solid #000;
}

.Button {
  background: #f4acac;
  border: none;
  border-radius: 50px;
  padding: 0 25px;

  &--round {
    border-radius: 50%;
    width: 40px;
    padding: 10px;
    grid-column: 1/2;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
