@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
.thoughts-list-container {
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
}

.thought-container {
  border: 2px solid #000000;
  background-color: #FFFFFF;
  width: 500px;
  padding: 20px;
  margin-bottom: 40px;
  word-wrap: break-word;
  box-shadow: 8px 11px;
}

li {
  list-style-type: none;
}

.time-stamp {
  font-size: 16px;
  color: #AAAAAF;
}

.heart-button-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.heart-button {
  border: 1px solid #F2F0F0;
  border-radius: 50%;
  background-color: #F2F0F0;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}