@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
.thoughts-list-container {
  font-family: 'Inconsolata', monospace;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
}

.thought-container {
  border: 2px solid grey;
  background-color: #FFFFFF;
  width: 500px;
  padding: 20px;
  margin-bottom: 40px;
  word-wrap: break-word;
}

.ul-container {
  border: 1px solid blue;
}

li {
  list-style-type: none;
}

.time-stamp {
  font-size: 16px;
  color: grey;
}

button {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  margin-top: 10px;
}