.thought {
  padding: 20px;
  margin: 20px;  
  border: 1px black solid;
  box-shadow: 5px 5px black;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.thought-text{
  font-family: monospace;
}


.thought-details {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.name-date {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 justify-content: center;
}

.name-p {
  margin: 0;
  font-style: italic;
}

.time-stamp {
  margin: 5px 0 0 0;
}

.heart-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.loader {
  align-self: center;
}