.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: none;
    padding: 10px;
    box-sizing: content-box;
    background-color: rgba(194, 210, 255, 0.904);
    width: 45vh;
    border-radius: 10px;
}

.label-title {
    font-weight: bold;
    font-size: 17px;
    color: rgb(42, 45, 54);
}

.submit-button {
    border-radius: 10px;
    width: 200px;
    border: none;
    background-color: rgb(226, 224, 250);
    height: 30px;
    cursor: pointer;
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 15px;
    line-height: 2px;
    transition: .2s ease-in-out;
    letter-spacing: 0.5px;
}

.submit-button:hover {
    transform: scale(1.05);
}

.input-form {
    height: 55px;
    resize: none;
    background-color: rgba(226, 224, 250, 0.76);
    border: none;
    border-radius: 10px;
    font-family: 'Poiret One';
    font-size: 16px;
    font-weight: bold;
    color: rgb(42, 45, 54);
    letter-spacing: 1px;
}