.thought-item {
  margin: 20px;
  padding: 10px 15px 10px 10px;
  width: 400px;
  border: 1px solid black;
  box-shadow: 5px 5px;
  background-color: #FFFFFF;
}

.thought-message {
  font-size: 18px;
  font-weight: bold;
}

.like-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFADAD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  width: 25px;
  height: 25px;
  padding: 0px 0px 2px 4px;

}

.like-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-container {
  display: flex;
  align-items: center;
}

.x-likes {
  font-size: 14px;
  color: #979696;
  padding-left: 5px;
}

.likes{
  padding-left: 2px;
}

.date {
  color: #b8b5b5;
  font-size: 14px;
}