
.thoughts__container {
    background: #fff;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr;
}

.thoughts__card {
    background: #fff;
    border: 2px solid #969696;
    box-shadow: 5px 5px;
    justify-self: center;
    padding: 10px;
    margin: 5px;
    width: 80%;
}

.thoughts__info-container, .thoughts__message-and-like {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

/*How to solve when someone writes a really long word?*/
.thoughts__message {
    font-size: 22px;
    white-space: pre-wrap;
}

.thoughts__heart-icon {
    height: 25px;
    width: 25px;
    margin-top: 12px;
}

.thoughts__like-container {
    display: flex;
}