.thought-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px;
  width: 80%;
}

.thoughts-text {
  word-break: break-word;
  margin: 0;
}

.input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
}

.like-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-button {
  border: none;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-right: 5px;
}

.likes {
  color: grey;
}

.date {
  color: lightgray;
}

@media (min-width: 1024px) {
  .thought-container {
    width: 50%;
  }
}
