.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: none;
    padding: 10px;
    box-sizing: content-box;
    background-color: rgba(250, 213, 193, 0.952);
    width: 45vh;
    border-radius: 10px;
}

.submit-button {
    border-radius: 10px;
    width: 200px;
    border: none;
    background-color: rgb(255, 243, 230);
    height: 30px;
    cursor: pointer;
    font-family: 'Zen Kurenaido', sans-serif;
}

.input-form {
    height: 50px;
    resize: none;
    background-color: rgb(255, 243, 230);
    border: none;
    border-radius: 10px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 16px;
}