textarea {
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.thoughtForm {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  height: 30vh;
  width: 40vw;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 10px 10px;
}

.thoughtBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sendThoughtButton {
  cursor: pointer;
  padding: 8px;
  margin-left: 16px;
  border-radius: 15px;
  background-color: #FFADAD;
}

.sendThoughtInfo {
  padding: 8px;
  margin-right: 16px;
}

