textarea {
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.toughtForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw;
  height: 20vh;
  width: 40vw;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 10px 10px;
}

