.input-container {
  width: 510px;
  height: 180px;
  align-self: flex-start;
  background-color: rgb(242, 240, 240);
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 10px;
  margin: 20px 0 20px 18px;
  font-family: "Commissioner", sans-serif;
  box-sizing: content-box;
}

.form-text {
  display: flex;
  width: 90%;
  height: 50px;
  font-size: 18px;
}

.new-thought h3 {
  color: black;
}

.form-button {
  background-color: rgb(255, 173, 173);
  width: 250px;
  height: 50px;
  border-radius: 30px;
  color: black;
  margin-top: 10px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.form-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.char-counter {
  margin: 80px 0 0 5px;
}
