.like-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
}

.heart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  cursor: pointer;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.heart-button:focus {
  outline: transparent;
}

.heart-counting-text {
  color: #8f8f8f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
  font-size: 12px;
  font-weight: 600;
  margin-left: 4px;
}

/* Desktop */
@media (min-width: 1025px) {
  .heart-counting-text {
    font-size: 14px;
  }

  .heart-button {
    width: 40px;
    height: 40px;
  }
}
