.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
}
  
.counted-hearts {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
  color: #8F8F8F;
  font-size: 10px;
  font-weight: 600;
  margin-left: 4px;
}
  
.heart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  cursor: pointer;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.liked {
  background: "#FFADAD"
}

.superliked {
  background: blue;
}

.noLikes {
background: "#EAEAEA";
}