.feedGrid {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 700px;
}

@media (max-width: 705px) {
  .feedGrid {
    width: 90%;
  }
}
