.like-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.like-btn:hover {
    cursor: pointer;
}

.like-btn-active {
  background-color: #ffc0cb;
}

.like-btn .heart-hover {
    display: none;
  }
  
  .like-btn:hover .heart {
    display: none;
  }
  
  .like-btn:hover .heart-hover {
    display: inline;
  }