.input-container {
  display: flex;
  flex-direction: column;
}

.input-form {
  width: fit-content;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  box-shadow: 5px 5px;
  padding: 10px;
  background-color:#ffccff;
}

h4 {
  color: #262626;
}

.form-text {
  font-size: 14px;
  padding: 5px;
  margin: 5px;
}

.form-button {
  font-size: 14px;
  border: 2px solid #ff66d9;
  border-radius: 15px;
  background-color: #ff66d9;
  color: black;
  padding: 5px;
}

.thought-length {
  font-size: 14px;
}

.characters {
  margin-top: -10px;
  font-size: 10px;
}

.heart {
  padding: 5px;
}