.form-box{
    background-color: #f2f0f0;
    border: 2px solid black;
    box-shadow: 10px 9px black;
    gap: 8px;
    padding: 15px;
}

h1 {
    padding-bottom: 20px;
}

.form-box form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.info-text {
    font-family: 'Poppins', sans-serif;
}

.submit-btn{
    width: 235px;
    border: none; 
    border-radius: 50px;
    padding: 6px;
    font-size: 18px;
    background-color: #ffadad;
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px;
}

.text-box {
    border: 2px solid #c3c2c2;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 70px;
}

.text-box:focus {
    outline-color: #ffadad;
}

.character-count {
    color: #9f9f9f;
    padding-bottom: 20px;
}