.send-btn {
    background-color: #ffc0cb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    border: none;
    padding: 4px;
    border-radius: 20px;
    width: 70%;
}

.send-btn:hover {
    cursor: pointer;
}

.send-btn:disabled {
    background-color: #cccccc;
    color: #999999;
    cursor: not-allowed;
  }

/*Tablet media query*/
@media (min-width: 667px) {
    .send-btn {
        width: 45%;
    }
}


/*Desktop media query*/
@media (min-width: 1025px) {
    .send-btn {
        width: 40%;
    }
}