.send-btn {
    background-color: #ffc0cb;
    margin-top: 10px;
    border: none;
    padding: 6px;
    border-radius: 20px;
    width: 180px;
}

.send-btn:hover {
    cursor: pointer;
}

.send-btn:disabled {
    background-color: #cccccc;
    color: #999999;
    cursor: not-allowed;
  }