.message-list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .message-box{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: 10px 9px black;
    gap: 20px;
    padding: 20px;
    word-wrap: break-word;
  }

  .message-box.fade-in {
    opacity: 0;
    animation: fade-in 0.9s ease forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .message-box.fade-out {
    opacity: 0;
    animation: fade-out 0.5s ease forwards;
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .message-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
  }
  
  .button-and-counter {
    display: flex;
    align-items: center;
    gap: 8px; 
  }

  .like-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-text {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #616161;
}

.no-like-button{
    border: none; 
    border-radius: 50px;
    padding: 10px;
    font-size: 18px;
}

.no-like-button:hover{
  background-color: #ffadad;
}

.like-button{
  background-color: #ffadad;
  border: none; 
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
}

.delete-button {
  border: none; 
  border-radius: 60px;
  padding: 10px 16px;
  font-size: 10px;
  width: 16px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.delete-button:hover {
  background-color: #cccccc;
}

/*Loading-spinner*/

.loader {
  display: flex;
  justify-self: center; 
  margin: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ffadad #ffadad;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    