$grey-circle-color: #eaeaea;
$pink-circle-color: #ffadad;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: monospace;
	line-height: 1.6;

	margin: 0;
}

%thoughts-shared {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 400px;

	margin: 20px auto;
	padding: 10px;

	border: 1px solid #000;
	box-shadow: 6px 6px 0px #000;
}

%buttons-shared {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;

	border: none;

	cursor: pointer;
}

.send-thought-container {
	@extend %thoughts-shared;
	height: 170px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
}

.thought-input {
	height: 60px;
	border: 1px solid rgba(0, 0, 0, 0.534);
	padding: 5px;
	font-family: monospace;
}

.two-hearts-button {
	@extend %buttons-shared;
	border-radius: 30px;
	width: 190px;
	font-size: 14px;
	background-color: $pink-circle-color;
}

.thought-container {
	@extend %thoughts-shared;
	height: 100px;
}

.icon-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
}

.heart-button {
	@extend %buttons-shared;
	border-radius: 50%;
	width: 40px;
	background-color: $grey-circle-color;
}

.amount-of-hearts {
	margin-left: 5px;
	opacity: 0.5;
}

.heart {
	margin-left: 4px;
	font-size: 16px;
}

.time-gone-by {
	opacity: 0.3;
}
