$grey-circle-color: #eaeaea;
$grey-transparent-color: rgba(228, 226, 226, 0.5);
$darkgrey-circle-color: #acacac;
$pink-circle-color: #ffadad;
$darkpink-circle-color: #ff6868;
$darkred-border-color: #c03c3c;
$darkblue-border-color: #3cc068;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: monospace;
	line-height: 1.6;

	margin: 0;
}

h1 {
	text-shadow: -4px -4px 2px $darkred-border-color, 4px -4px 2px $darkred-border-color,
		-4px 4px 2px $darkred-border-color, 4px 4px 2px $darkred-border-color;
	text-align: center;
	color: white;
	font-size: 80px;
	position: relative;
	z-index: 10;
}

.p-red {
	color: $darkred-border-color;
	font-weight: 700;
}

.p-blue {
	color: $darkblue-border-color;
	font-weight: 700;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/Hearts-Background.svg");
	height: 200px;
	position: relative;
	z-index: 1;

	transition: background 0.5s linear;
}

.layer-header {
	position: absolute;
	z-index: 5;
	background-color: $grey-transparent-color;
	height: 100%;
	width: 100%;
}

%thoughts-shared {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 400px;

	margin: 20px auto;
	padding: 10px;

	border: 1px solid #000;
	box-shadow: 6px 6px 0px #000;
}

%buttons-shared {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;

	border: none;

	cursor: pointer;
}

.send-thought-container {
	@extend %thoughts-shared;
	height: 170px;
}

.btn-and-count-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
}

.thought-input {
	height: 60px;
	border: 1px solid rgba(0, 0, 0, 0.534);
	padding: 5px;
	font-family: monospace;
}

.two-hearts-button {
	@extend %buttons-shared;
	border-radius: 30px;
	width: 190px;
	font-size: 14px;
	background-color: $pink-circle-color;
}

.thought-container {
	@extend %thoughts-shared;
	height: 130px;
}

.icon-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
}

.heart-button-no-like {
	@extend %buttons-shared;
	border-radius: 50%;
	width: 40px;
	background-color: $grey-circle-color;
}

.heart-button-like {
	@extend %buttons-shared;
	border-radius: 50%;
	width: 40px;
	background-color: $pink-circle-color;
}

.heart-button-no-like:hover {
	background-color: $darkgrey-circle-color;
}

.heart-button-like:hover,
.two-hearts-button:hover {
	background-color: $darkpink-circle-color;
}

.amount-of-hearts {
	margin-left: 5px;
	opacity: 0.5;
}

.heart {
	margin-left: 4px;
	font-size: 16px;
}

.time-gone-by {
	opacity: 0.3;
}
