$grey-circle-color: #eaeaea;
$pink-circle-color: #ffadad;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: monospace;
	line-height: 1.6;

	margin: 0;
}

.thought-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 400px;
	height: 125px;

	margin: 20px auto;
	padding: 10px;

	border: 1px solid #000;
	box-shadow: 6px 6px 0px #000;
}

.icon-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
}

.heart-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	background-color: #eaeaea;
	cursor: pointer;
}

.amount-of-hearts {
	margin-left: 5px;
	opacity: 0.5;
}

.heart {
	margin-left: 4px;
}

.time-gone-by {
	opacity: 0.3;
}
