.heart-icon {
  margin: 5px;
}

.button-submit-thought {
  background-color: #8a5a44;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-family:  'Capriola', sans-serif;
  margin-top: 10px;
  padding: 5px 15px;
}

.thought-box {
  height: 45px;
  margin-top: 20px;
}
.thought-form-label {
  color: rgb(2, 2, 2);
  font-family: 'Capriola', sans-serif;
}

.word-count {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
}