.card {
  border: 1px solid black;
  box-shadow: 10px 10px black;
  margin: 20px;
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.card--footer {
  display: flex;
  align-items: center;
}

.card--footer-text{
  color: grey;
  font-size: 14px;
  display: inline;
  margin: 0 10px;  
}

.card--like-count {
  /* color: grey; */
}

.card--post-time {
  margin-left: auto;
}

