.like-content{
    display: inline-flex;
    align-items: center;
    padding: 10px 0;
}

.heart-circle{
    background: rgb(196, 208, 213);
    padding: 7px;
    border-radius: 50%;
}

/* .red{
     background: rgb(236, 193, 209);
} */

.fa-heart {
    color: red;
}

.like-counter{
    margin: 0 10px
}