.message-container{
    width: 90%;
    height: auto;
    margin: 50px auto;
    background:rgb(246, 215, 167);
    border: 1px solid rgb(135, 170, 170);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.message{
    width: 90%;
    color: black;
    text-align: justify;
    line-height: 20px;
    margin: 20px 0 10px 0;
    word-wrap: break-word;
}

.message-botton-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.message-date{
    margin: 10px 0px;
}

@media (min-width: 768px) {
.message-container{
    width: 75%;
    }
}

@media (min-width: 992px) {
.message-container{
    width: 50%;
    }
}