.thoughtForm {
  background-color: rgb(229, 229, 229);
  border: 1px solid black;
  box-shadow: 0.3rem 0.3rem black;
  padding: 1.5rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 4rem;
  margin: 1rem 0;
  padding: 0.5rem 0 0 0.5rem;
}

.thoughtFormHeading {
  font-size: 1rem;
}

.sendButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: pink;
  border: none;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-weight: 700;
  padding: 0.7rem 0.8rem;
  width: fit-content;
}

.sendButton span {
  font-size: 1rem;
}

.sendButton:disabled {
  color: black;
  cursor: no-drop;
}

.sendButtonAndCharsContainer {
  display: flex;
  justify-content: space-between;
}

.remainingChars {
  color: gray;
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.notEnoughChars,
.tooShort {
  color: red;
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.tooShort {
  font-weight: 700;
}

.charsAndTooShortContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
}

.loading {
  text-align: center;
  animation: blink .6s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .thoughtFormHeading {
    font-size: .9rem;
  }
}