.thoughtForm {
  background-color: rgb(229, 229, 229);
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0.3rem 0.3rem black;
  padding: 1.5rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 4rem;
  margin: 1rem 0;
  padding: 0.5rem 0 0 0.5rem;
}

.thoughtFormHeading {
  font-size: 1rem;
  font-weight: 500;
}

.sendButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: pink;
  border: none;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-weight: 700;
  padding: 0.7rem 0.8rem;
  width: fit-content;
}

.sendButton span {
  font-size: 1rem;
}

.sendButton:disabled {
  color: black;
  cursor: no-drop;
}

.sendButtonAndCharsContainer {
  display: flex;
  justify-content: space-between;
}

.remainingChars {
  color: gray;
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.charsLeft {
  margin-right: 0.5rem;
}

.hideChar {
  visibility: hidden;
}

@media (max-width: 720px) {
  .thoughtFormHeading {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .charsLeft {
    margin-right: 0;
  }
}
