/* STYLE FOR THE FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 150px;
    margin-top: 50px;
    color: #000000; 
    font-size: 12px;
    letter-spacing: 0.2px;
}

.footer-text {
    font-family: 'Inconsolata', monospace;
}