.thoughts-box {
  border: 1px solid #000;
  box-shadow: 6px 6px #000;
  width: 315px;
  min-height: 100px;
  margin: 30px;
  padding: 12px 12px 0 10px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.thoughts {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}

.thoughts-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.time-stamp {
  font-size: 11px;
  color: #dbdbdb;
  padding: 0;
  margin: 0 0 7px 0;
  align-self: flex-end;
}

/* Media queries*/
@media (min-width: 668px) { /* Tablet device */
  .thoughts-box {
    width: 360px;
  }
}

@media (min-width: 1024px) { /* Desktop device */
 
}