/* Style for header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.pulse-heart {
    position: absolute;
    animation:pulse 1s infinite;
    margin-top: 10px;
}

@keyframes pulse {
    0% {
      font-size: 18px;
    }
    100% {
        font-size: 28px;
    }
  }
  

@media only screen and (max-width: 400px) {
    .header {
        font-size: 24px;
    }
  }