.nrOfLikes {
  color: #d3d3d3;
}

.very-liked {
  background: #dc143c;
}

.liked {
  background: #ffadad;
}

.unliked {
  background: #c9c0bb;
}

.heart-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.heart-button:hover {
  cursor: pointer;
}

.heart-container {
  display: flex;
  align-items: center;
}
