.like-button {
  border: none;
  border-radius: 50%;
  padding: 8px;
  margin-right: 6px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  margin-bottom: 2.5px;
}

.liked {
  background: #FEACAC;
}

.not-liked {
  background: #d4d4d4;
}

.likes {
  font-size: 11px;
  color: #dbdbdb;
}

.like-button:hover {
  cursor: pointer;
}