.like-button {
  border: 1px solid white;
  color: #f53536;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  transition: ease-in 0.1s;
  cursor: pointer;
}

.like-button:disabled {
  border: 2px solid white;
  background-color: #f53536;
  color: white;
}

.btn-border {
  border-radius: 50%;
  border: 2px solid #f53536;
  width: 50px;
  height: 50px;
}

.like-button:hover:not(:disabled) {
  border: 1px solid white;
  color: white;
  background-color: #f53536;
  transform: scale(1.1);
}

.likes-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  margin: 20px;
}

.like-button-wrapper {
  margin-left: -9px;
}

.spacing-styling {
  padding-left: 8px;
}

.like-icon {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 4px;
}

@media (min-width: 767px) {
  .like-button {
    width: 60px;
    height: 60px;
  }
  /* https://stackoverflow.com/questions/36482126/how-to-enlarge-the-svg-icon-in-material-ui-iconbuttons */
  .like-icon {
    transform: scale(1.3);
  }
  .btn-border {
    width: 60px;
    height: 60px;
  }
  .likes-info-wrapper {
    margin: 20px;
  }
}
