.like-button {
  border: none;
  border-radius: 50%;
  padding: 8px;
  font-size: 14px;
  margin: 0 6px 2.5px 0;
}

.liked {
  background: #FEACAC;
}

.unliked {
  background: #EAEAEA;
}

.likes {
  font-size: 11px;
  color: #dbdbdb;
}

.like-button:hover {
  cursor: pointer;
}