@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

* {
  font-family: 'Trispace', sans-serif;
  text-rendering: optimizeLegibility;
}

.new-message-form {
  width: 500px;
  padding: 16px;
  border: 1px solid #000;
  box-shadow: 5px 5px;
  box-sizing: border-box;
  background-color: #f2f0f0;
  margin: 20px auto;
}

.new-message-form label {
  font-weight:  bold;
  font-size: 14px;
}

.new-message {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    resize: none;
  }

.character-counter {
  font-size: 14px;
  
}
  
