@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

* {
  font-family: 'Trispace', sans-serif;
  text-rendering: optimizeLegibility;
}

.new-message-form {
  padding: 16px;
  border: 1px solid #000;
  box-shadow: 5px 5px;
  box-sizing: border-box;
  
}

.new-message-form label {
  font-weight:  bold;
}

.new-message {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    resize: none;
  }
  
.send-button {
    
}
 