/* Style for the form */
.thoughts-form {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    background: #eeeeee;
    border: 1px solid;
    box-shadow: 5px 10px;
    width: 100%;
}

.thoughts-form__input {
    width: 100%;
    padding: 5px 0px 80px 5px;

}

::placeholder {
    font-family: 'Inconsolata', monospace;
}

.thoughts-form__button {
    font-size: 16px;
    border-radius: 100px;
    background: #ffc4c4;
    padding: 10px;
    border: none;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

.message-length__ok {
    text-align: right;
    color: #000000;
}

.message-length__error {
    text-align: right;
    color: #ff0000;
}

@media only screen and (max-width: 400px) {
    .thoughts-form__header {
        font-size: 22px;
    }
  }