.thoughts-article {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    text-align: left;
    background: #ffffff;
    border: 1px solid;
    box-shadow: 5px 10px;
}

.thoughts-article__info {
    display: flex;
}

.thoughts-article__likes {
    display: inline-flex;
}

.heart {
    font-size: 16px;
    padding: 5px;
}

.number-of-hearts {
    margin-left: 5px;
    color: #575757;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.button-liked {
    padding: 10px;
    background: #ffadad;
    border: none;
    border-radius: 50%;
}

.button-unliked {
    padding: 10px;
    background: #f3f1f1;
    border: none;
    border-radius: 50%;
}

.thoughts-article__time {
    margin-left: auto;
    color: #808080;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}