.feedGrid {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0 3rem;
  width: 90%;
  max-width: 700px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
.olderButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: pink;
  border: none;
  border-radius: 25px 0 0 25px;
  box-shadow: 3px 3px black;
  color: black;
  cursor: pointer;
  padding: 0.7rem 0.8rem;
  width: fit-content;
  height: fit-content;
}

.newerButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: pink;
  border: none;
  border-radius: 0 25px 25px 0;
  box-shadow: 3px 3px black;
  color: black;
  cursor: pointer;
  padding: 0.7rem 0.8rem;
  width: fit-content;
  height: fit-content;
}

.newerButton:disabled {
  text-decoration: line-through;
}